.kids-events {
    padding: 20px;
    background-color: #F0F8FF; /* Um azul claro suave */
}

.month-col {
    margin-bottom: 30px;
}

.month-name {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.events-list {
    list-style-type: none;
    padding: 0;
}

.event-item {
    background-color: #ffffff;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

/* Adicione media queries se necessário para ajustar o layout em diferentes tamanhos de tela */
