/* KidsExpenses.css */
.kids-expenses {
    background-color: #FFF3E0; /* Um laranja claro para diferenciar das receitas */
    padding: 20px;
    min-height: 100vh;
}

.kids-expenses h3 {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 15px;
}

.kids-expenses .expense-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.kids-expenses .expense-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.kids-expenses .expense-date {
    flex-basis: 20%;
    color: #666;
    font-size: 1em;
}

.kids-expenses .expense-icon {
    flex-basis: 10%;
    text-align: center;
    font-size: 2em; /* Ícones maiores, adequados para as despesas */
}

.kids-expenses .expense-description {
    flex-basis: 50%;
    color: #333;
    font-size: 1em;
    padding: 0 10px;
}

.kids-expenses .expense-amount {
    flex-basis: 20%;
    text-align: right;
    font-weight: bold;
    color: #e7ab3c; /* Um laranja mais escuro para destacar o valor */
}

