.kids-games {
    padding: 20px;
    background-color: #e6f7ff; /* Um tom claro de azul para um visual estimulante */
  }
  
  .game-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff; /* Fundo branco para destacar o conteúdo */
  }
  
  .game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }
  
  .game-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .game-card .card-title {
    margin-bottom: 20px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .game-card .btn-primary {
    margin-top: 20px;
  }
  