  /* Estilização da Navbar */
  .custom-navbar .nav {
    width: 100%; /* Garante que a navbar ocupa toda a largura */
    justify-content: space-around; /* Espaça os ícones uniformemente */
  }
  
  .nav-icon {
    display: flex; /* Utiliza flex para centralizar o ícone */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    margin: 0 10px; /* Adiciona espaço horizontal entre os ícones */
  }
