body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #f3f3f3, #e6e6e6);
  padding-top: 50px;
}

.notify-btn {
  background-color: #2E8B57;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.notify-btn:hover {
  background-color: #206040;
}


.custom-link {
  background-color: #e6e6e6; /* Light gray background */
  border: 1px solid #2E8B57; /* Border color matching the green theme */
}

.custom-link a {
  color: #2E8B57; /* Link color matching the green theme */
  text-decoration: none;
  transition: color 0.3s ease;
}

.custom-link a:hover {
  color: #206040; /* Darker shade of green for hover effect */
}

/* Seção de Privacidade */
h2.h4.mb-3 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
/* Para o problema do menu no topo */
section::before {
  display: block;
  content: " ";
  margin-top: -80px; /* Altura do seu menu */
  height: 80px; /* Altura do seu menu */
  visibility: hidden;
}

/* Para ocupar toda a tela e paralaxe */
.full-height {
  min-height: 100vh;
  display: flex;
  align-items: center; /* Centraliza o conteúdo verticalmente */
}

.bg-color1 {
  background-color: #f4f4f4; /* Uma cor de exemplo */
}

.bg-parallax {
  /* background-image: url('path_to_your_image.jpg');  */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white; /* Texto branco para contraste */
}
.green-icon {
  color: #2E8B57
}
.roadmap-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.roadmap-item {
  flex: 0 0 100%; 
  background-color: #f7f7f7;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 40px;
  position: relative;
}


.roadmap-item::before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: transparent;  /* Modificado */
  border: 2px solid #2E8B57;     /* Nova propriedade */
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
}

.completed::before {
  border: 2px solid #2E8B57; /* Borda para círculo */
  background-color: transparent; /* Círculo transparente */
}

.completed::after {
  content: '✓';
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  color: #2E8B57;
  font-size: 35px;
  z-index: 2; /* para ficar acima do círculo */
  font-weight: bold; /* torna o checkmark um pouco mais espesso */
}

.roadmap-item h4 {
  
  margin-top: 20px;
}

@media (min-width: 768px) { /* Para telas médias (md) ou maiores */
  .roadmap-item {
      flex: 0 0 calc(50% - 20px); /* em telas maiores, ele ocupará metade da largura (menos 20px para o espaçamento) */
  }
}

.profile-example {
  background-color: #f9f9f9; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.wallet-card {
  background-color: #ffffff; 
  border-radius: 10px; 
  padding: 10px 15px; 
  margin: 10px 0; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; 
  align-items: center; 
  transition: 0.3s;
}

.wallet-card:hover {
  transform: translateY(-3px);
}

.wallet-icon {
  font-size: 24px;
  margin-right: 10px;
}

.wallet-card span {
  font-weight: 600;
  margin-right: auto;
}

/* Colors for specific icons */
.fab.fa-ethereum {
  color: #3c3cff;
}

.fab.fa-bitcoin {
  color: #f7931a;
}

.fas.fa-binance {
  color: #f0b90b;
}

.privacy-card {
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.privacy-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

.green-icon {
  color: #2ecc71; /* Você pode escolher outra cor se preferir */
}
.padded-sides {
  padding-left: 30px;
  padding-right: 30px;
}

.wallet-icon.ethereum {
  color: #3c3cff;
}

.wallet-icon.bitcoin {
  color: #f7931a;
}

.wallet-icon.binance {
  color: #f0b90b;
}

